doctype html
html
  head
    title= title
    style.
      button{
        background-color: #F4A460;
        border-radius: 20px;
        width: 350px;
        height: 70px;
        font-size: 50px;
        font-family: Serif;
      }
      body{
        background-color: #f9ccac;
      }

      .center_div{

        width: 460px;
        border-radius: 30px;
        background-color: #D8BFD8;
        margin: auto;
        margin-top: 100px;
        text-align: center;
        font-family: Serif;
        font-size: 20px;
        padding: 150px
      }
      .course-div{
        height: 180px;
        background-color: #e3cfe3;
        border-radius: 30px;
        //- width: 700px;
        margin: auto;
        padding-top: 20px;
      }
      input{
        height: 70px;
        width: 400px;
        border-radius: 20px;
        border-width: 2px;
        margin: auto;
        font-size: 50px;
      }
      .checkbox-container {
        display: flex;
        padding-left: 80px;
        padding-right: 80px;
        padding-top: 18px;
        align-items: center;
        gap: 10px;
      }
      
    body
      block content